body {
  background: #f7f7f7;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 20pt;
}

main {
  max-width: 75%;
  margin: auto;
}

header {
  border-bottom: 1px solid #afafaf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  margin-bottom: 5px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.05rem;
}

p {
  font-size: 1rem;
  line-height: 1.2;
}

/* article class */
.review {
  width: 75%;
  border-bottom: 1px dashed #333;
}

label {
  font-weight: bold;
  font-: underline;
}
